<script src = "../JavaScript/piece.js"></script>
<script src = "../JavaScript/credits.js"></script>
<script>
function loaded () {
    move_piece ('__FILE__' . replace (/-.*/, ""));
}
</script>


<div class = 'outer'>
<div class = 'inner'>
<span class = "move-line">Move: <span id = "move-number">0</span></span>
</div>
</div>
