<script src = "../JavaScript/piece.js"></script>
<script src = "../JavaScript/credits.js"></script>
<script>
function loaded () {
    piece_path ('__FILE__' . replace (/-.*/, ""));
}
</script>


<div class = 'outer_left'>
<div class = 'bogus'></div>
<div class = 'bogus'></div>
<div class = 'inner'></div>
<div class = 'infobox_right'>
   Move: <span id = "move-number">0</span>
   <span id = "trapped"><br>Trapped!</span>
</div>
<div class = 'bogus'></div>
<div class = 'bogus'></div>
</div>
