<script src = "../JavaScript/piece.js"></script>
<script src = "../JavaScript/credits.js"></script>
<link rel = 'stylesheet' href = '../Styles/credits.css' type = 'text/css'>
<script>
function loaded () {
    handle_piece ('__FILE__');
}
</script>


<div class = 'outer'>
<div class = 'inner'>
