<script src = "../JavaScript/piece.js"></script>
<script src = "../JavaScript/credits.js"></script>
<script>
function loaded () {
    piece_path ('__FILE__' . replace (/-.*/, ""));
}
</script>


<div class = 'outer'>
<div class = 'inner'>
</div>
</div>
