/*
 * This sets the sizes of the responsive boxes, consisting of
 * on "outer" and "inner" div. 
 * 
 * The height of the page is as follows:
 *     -  6%  for the title (handled in navigate.css)
 *     -  5%  padding above
 *     -  5%  padding below
 *     - 84%  for the "outer" div; this sets the size of board.
 *
 */
div.outer::before {
    height: 5%;
}

div.outer::after {
    height: 5%;
}

div.outer::before, div.outer::after {
    display: block;
    content: "";
    margin: 0 0 0 0;
}
div.outer {
    margin: 0 0 0 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 84%;
}
div.inner  {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
                       

/*
 * CSS for the SVG
 */
rect.even {
    fill: brown;
}
rect.odd {
    fill: rgb(232,235,239);
}


/*
 * Numbers and chess pieces placed on the board
 */
text.number {
    font-size: 5px;
}
text.chess-piece {
    font-size: 8px;
    transform: translate(0px, 1.5px);
}

text.number, text.chess-piece {
    text-anchor: middle;
}
