/*
 * This sets the sizes of the responsive boxes, consisting of
 * on "outer" and "inner" div. 
 * 
 * The height of the page is as follows:
 *     -  6%  for the title (handled in navigate.css)
 *     -  5%  padding above
 *     -  5%  padding below
 *     - 84%  for the "outer" div; this sets the size of board.
 *
 */
div.outer::before {
    height: 5%;
}

div.outer::after {
    height: 5%;
}

div.outer::before, div.outer::after {
    display: block;
    content: "";
    margin: 0 0 0 0;
}
div.outer {
    margin: 0 0 0 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 84%;
}
div.inner  {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: relative;
}

/*
 * CSS for a move counter
 */
span.move-line {
    position:  absolute;
    top:       0;
    right:     0;
    font-size: 4vh;
}
                       

/*
 * CSS for the SVG
 */
rect.even {
    fill: brown;
}
rect.odd {
    fill: rgb(232,235,239);
}


/*
 * Numbers placed on the board
 * This places the text in the middle of the squares
 * (not too happy about the transform, but it does make a difference).
 */
text.number {
    font-size: 5px;
    text-anchor: middle;
    dominant-baseline: middle;
    transform: translate(0px, 0.5px);
}



/*
 * Styles for the path
 */
circle.path-dot {
    fill: rgb(100,100,100);
}

circle.path-point {
    fill: black;
}


line.path-line {
   stroke-width:  .75;
   stroke:        black;
   fill:          black;
}

