body     {font-size: 6vh;
          margin: 0px 0px 0px 0px;
          background: #e6e6e6;}

div.main {margin-left:  5%;
          margin-right: 5%;
          margin-top: 5vh;}

ul {padding-top: 0;
    margin-top:  0}


div.footnotes {
    font-size: 3vh;
}


span.xiangqi-red {
    color: red;
}
span.xiangqi-black {
    color: black;
}


span.janggi-han {
    color: red;
}
span.janggi-chu {
    color: green;
}
