h1   {
    margin:        0px 0px 0px 0px;
    padding:       1vh 0px 0px 0px;
    width:         100%;
    height:        5%;
    font-size:     4vh;
    text-align:    center;
    border-width:  0px;
    background:    #aa7;
}

div.prev, div.next {
    position:      fixed;
    width:         5%;
    height:        5%;
    text-align:    center;
    top:           .5vh;
    color:         rgba(0, 0, 0, .1);
    font-size:     4vh;
}

div.prev a, div.next a {
    color:         rgba(0, 0, 0, .3);
}

div.prev {
    left:          0px;
}
div.next {
    right:         0px;
}
