body                 {font-size: 400%;
                      margin: 0px 0px 0px 0px;
                      background: #e6e6e6;}
td                   {font-size: 400%;}     /* Needed. Bug? */
th                   {font-size: 400%;}     /* Needed. Bug? */

div.content          {padding-left: 0px;
                      padding-right: 0px;
                      margin-left: 50px;
                      display: table;
                      width: 95%;
                      height: 90%;
                     }
span.content         {display: table-cell;
                      vertical-align: middle;
                      padding-left: 30px;
                      padding-right: 30px;}
ul                   {
                      padding-left: 15px;}   /* Empirical */

div.smaller          {font-size: 70%}

/* For =pause */
.hidden              { visibility: hidden }

/* No underlines */
a                    {text-decoration: none;}

/* Code/output stuff */
div.code             {white-space: pre;}
div.perl             {
                      margin-top: 1em;
                      margin-bottom: 1em;
                      background: #c6c6c6;
                     }
div.output           {background: #a6a6a6;}

/* Colours for various types of input/output */
.code                {font-family: monospace; color: blue}
.perl                {color: blue}
.output              {color: green}
.emphasis            {color: red}
.compiler-error      {color: purple}
.runtime-error       {color: magenta}
.white               {color: white}
.title-title         {font-size: 90%}
.title-where         {color: red; font-size: 50%}
.title-url           {color: magenta; font-size: 75%}
.nav                 {font-size: 40%}
.prev                {font-size: 40%}
.next                {font-size: 40%}

.count               {font-size: 100%}

/* Navigation box on top */
.nav                 {margin: 0px 0px 0px 0px;
                      padding: 0px 0px 0px 0px;
                      border-width: 0px;
                      background: #aa7;}
h3.nav               {text-align: center;
                      color: black}
.prev                {padding-left: 10px;}    /* Should be same padding */
.next                {padding-right: 10px;}   /* as div.content.        */


/* Sudoku's */
table.sudoku tr td  { width: 60px; height: 60px; text-align: center; }
.sol                { color: #777777 }

td.current          { background: red }    
td.buddy            { background: orange }
td.todo             { background: yellow }
td.bad              { background: red }
td.ok               { background: lightgreen }

table.lettergrid tr td { width: 60px; height: 60px; text-align: center; }
table.lettergrid tr th { width: 60px; height: 60px; text-align: center; }
table.lettergrid tr td { border: 2px solid black }


/* Table with borders */
table.border tr td  { border: 1px solid black }



span.smile          { color: green }
span.sad            { color: red }

span.red            { color: red }
span.green          { color: green }
span.magenta        { color: magenta }
span.yellow         { color: yellow }
span.purple         { color: purple }
